.container

  %h3 Classifilter Widget Universal Installation Instructions

  %p Classifilter can be installed on most websites via the universal JavaScript installation code below.
  %p Please note that these instructions do require some technical knowledge and are intended for use by developers.

  %h5 Getting Started
  %ul
    - if current_gallery.blank?
      %li If you have not already, go to #{link_to 'https://admin.classifilter.com/signup', 'https://admin.classifilter.com/signup'} and sign up for a gallery account.
    - else
      %li You are logged in as '#{current_gallery.name}'. Your gallery ID is '#{current_gallery.id}'.
    %li You will need access to the HTML of the pages that you intend to add Classifilter to.


  %h5 Script Template
  %p This is the base script that you will need. Copy and paste it to the section of the page that you will want to have Classifilter display on.

  %pre
    &lt;script src="https://api.classifilter.com/javascripts/classifilter-init.js"&gt;&lt;/script&gt;
    &lt;script type="text/javascript"&gt;
    Classifilter.init({
    - if current_gallery.blank?
      galleryId: 'your gallery ID',
    - else
      galleryId: '#{current_gallery.id}', <br/>
    topics: 'Your topics here',
    publishDate: 'Your publish date here',
    artistName: 'Your author name',
    type: "Article or whatever type of page"
    });
    &lt;/script&gt;
    &lt;noscript&gt;
    Please enable JavaScript to see comments powered by Classifilter.
    &lt;/noscript&gt;

  %p Alternatively, you can add the above script to the head section of your template and add a div with id: "classifilter-dropin" to your page where you want the widget to appear.

  %h5 Configuration Variables
  %p The following configuration variables are required and must be passed into the Script
  %ul
    %li
      %strong galleryId:
      this is your id that was assigned to your organization on sign up
    %li
      %strong topics:
      a list of topics that relate to the content of your page. These should be passed in separated by commas.
    %li
      %strong publishDate
      the date of publication. This should be in the format of YYYY-MM-DD
    %li
      %strong artistName:
      the name of the author of the article. Example: "Jane Smith"
    %li
      %strong type:
      the type of content on the page. this can be any value you choose

  %h5 Optional Variables
  %p These are variable that can be added to the configuration section of the script.
  %ul
    %li
      %strong urlOverride:
      the classifilter widget automatically creates a thread for the url of a page that it is added to. However it will also allow you to override the url of the page and use a different url instead. This will allow you to share the same thread on the same article on different versions of your site or if you have multiple url formats for your content
