#error_messages
  - if target && target.errors.any?
    %div{:class => "alert alert-warning alert-dismissible fade show", role: "alert"}
      %button.close{"data-dismiss" => "alert", :type => "button", "aria-label" => "Close"}
        %span{"aria-hidden" => "true"} &times;
        %span.sr-only Close
      %h4= "Sorry, I am unable to complete your request due to the following:"
      %ul
        - target.errors.full_messages.each do |msg|
          %li= msg.html_safe
