%table
  %thead
    %tr
      %th ID
      %th URL
      %th Last Interaction

  %tbody
    - @arts.each do |art|
      %tr
        %td= art.id
        %td= link_to art.url, art.url, target: "_blank"
        %td= display_date art.last_interaction_at
