// Place all the styles related to the galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$breakpoint-phone: 575px;

#gallery-edit-settings-container, #cf-member-management-container, #cf-member-edit-container {
  margin: 60px auto;
  border: 1px solid grey;
  padding: 30px;
  border-radius: 20px;
  width: 500px;
  height: auto;
  background: rgba(255, 255, 255, .9 );
  color: #000000;
}

.filter-btn {
  border-radius: 0;
}

@media (max-width: $breakpoint-phone) {
  #gallery-edit-settings-container, #cf-member-management-container, #cf-member-edit-container {
    width: 100%;
    margin-left: 0px;
  }
  .vote-row {
    width: 100%;
  }
  .filter-btn-container {
    padding: 0px;

    .filter-btn {
      border-radius: 0;
      width: 100%
    }
  }
}

@media (max-width: $breakpoint-phone) {
  #cf-member-management-container {
    width: 100%;
    margin-left: 0px;
  }
}

#cf-new-member-container {
  margin-top: 10px;
}

#create-member-button {
  margin: 10px 5px 10px 5px;
}
