@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.cf-settings-base {
  border: 2px solid black;
  border-radius: 2px;
  background-color: #ffffff;
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
}
