@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.cf-settings-base {
  border: 2px solid black;
  border-radius: 2px;
  background-color: #ffffff;
  padding: 15px;
  font-family: 'Open Sans', sans-serif;

  h2, h3, h5 {
    font-weight: bold;
    margin-bottom: 15px;
  }

  table {
    width: 90%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;

    thead {
      th, tr {
        font-size: 1.25em;
        padding: 10px 13px;
        border: 1px solid #D3D3D3;
      }
    }

    tbody {
      td {
        padding: 10px 13px;
        border: 1px solid #D3D3D3;
      }
    }
  }

  a {
    color: #800080;
    &:hover{
      text-decoration: underline;
      color: #800080;
      background-color: #ffffff;
    }
    &:visited{
      text-decoration: underline;
      color: #800080;
      background-color: #ffffff;
    }
  }

  .cf-install-tile {
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
    margin: 15px;
    padding: 15px 15px 15px 15px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 3px 3px 10px #800080;

    h3 {
      margin-top: 40px;
      color: #A9A9A9;
    }
  }
}
