$breakpoint-phone: 575px;

.cf-threads-container {
  background-color: #fff;
  width: 90%;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 15px #000;
}

.thread-listing {
  width: 90%;
  font-size: 1.2em;
  margin: auto;
  margin-top: 15px;

  h3 {
    font-size: 1.5em;
    text-decoration: underline;
    word-wrap: break-word;
  }

  h4 {
    font-size: 1.25em;
  }

  .art-status {
    font-size: 1.2;
  }

  .art-status-badge {
    color: green;
    padding: 3px 5px;
  }

  .art-disabled {
    color: grey;
  }

  .art-deactivated {
    color: red;
  }

  .art-settings-link {
    height: 30px;
    width: 30px;
    margin: 0;
    .thread-settings-btn {
      height: 30px;
      width: 30px;
      display: block;
      cursor: pointer;

      @media (max-width: $breakpoint-phone) {
        height: 25px;
        width: 25px;
      }
    }
  }

  .art-comments-header {
    color: black
  }
  .art-comments-approved {
    color: green;
  }
  .art-comments-pending {
    color: orange;
  }
  .art-comments-flagged {
    color: red;
  }
  .art-comments-deleted {
    color: grey;
  }

  .art-interactions {
  }
  .art-item-count {
    margin-left: 10px;
  }

  .art-publish-date {
  }
}

.art-edit-settings-container {
  margin: 0 auto;
  max-width: 575px;
}
